#profilePicture {
  clip: rect(0px 100px 100px 0px); }

@supports (-webkit-clip-path: inset(0px 100px 100px 0px)) or (clip-path: inset(0px 100px 100px 0px)) {
  #profilePicture {
    clip: initial;
    clip-path: inset(0px 100px 100px 0px);
    -webkit-clip-path: inset(0px 100px 100px 0px); } }

@media (min-width: 576px) {
  #profilePicture {
    clip: rect(0px 200px 200px 0px); }
  @supports (-webkit-clip-path: inset(0px 200px 200px 0px)) or (clip-path: inset(0px 200px 200px 0px)) {
    #profilePicture {
      clip: initial;
      clip-path: inset(0px 200px 200px 0px);
      -webkit-clip-path: inset(0px 200px 200px 0px); } } }

@media (min-width: 768px) {
  #profilePicture {
    clip: rect(0px 300px 300px 0px); }
  @supports (-webkit-clip-path: inset(0px 300px 300px 0px)) or (clip-path: inset(0px 300px 300px 0px)) {
    #profilePicture {
      clip: initial;
      clip-path: inset(0px 300px 300px 0px);
      -webkit-clip-path: inset(0px 300px 300px 0px); } } }

@media (min-width: 992px) {
  #profilePicture {
    clip: rect(0px 400px 400px 0px); }
  @supports (-webkit-clip-path: inset(0px 400px 400px 0px)) or (clip-path: inset(0px 400px 400px 0px)) {
    #profilePicture {
      clip: initial;
      clip-path: inset(0px 400px 400px 0px);
      -webkit-clip-path: inset(0px 400px 400px 0px); } } }

@media (min-width: 1200px) {
  #profilePicture {
    clip: rect(0px 500px 500px 0px); }
  @supports (-webkit-clip-path: inset(0px 500px 500px 0px)) or (clip-path: inset(0px 500px 500px 0px)) {
    #profilePicture {
      clip: initial;
      clip-path: inset(0px 500px 500px 0px);
      -webkit-clip-path: inset(0px 500px 500px 0px); } } }

