@model showcase.Models.BlogViewModels.BlogEntryViewModel

@{
    ViewData["Title"] = "Create";
}

@section head {
    <style>
        #imgOut {
            max-height: 226px;
            max-width: 100%;
            height: auto;
            width: auto;
        }
    </style>
}

<h2>Create</h2>

<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="form-row mb-3">
        <div class="col-1">
            <label asp-for="Title" class="col-form-label"></label>
        </div>
        <div class="col-11">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row mb-3">
        <div class="col-1">
            <label asp-for="Tags" class="col-form-label"></label>
        </div>
        <div class="col-3">
            <input asp-for="Tags" class="form-control" />
            <span asp-validation-for="Tags" class="text-danger"></span>
        </div>
        <div class="col-2">
            <label asp-for="TitlePlacement" class="col-form-label"></label>
        </div>
        <div class="col-2">
            <select asp-for="TitlePlacement" asp-items="Html.GetEnumSelectList<TitlePlacement>()" class="form-control"></select>
            <span asp-validation-for="TitlePlacement" class="text-danger"></span>
        </div>
        <div class="col-2">
            <label asp-for="ImagePlacement" class="col-form-label"></label>
        </div>
        <div class="col-2">
            <select asp-for="ImagePlacement" asp-items="Html.GetEnumSelectList<ImagePlacement>()" class="form-control"></select>
            <span asp-validation-for="ImagePlacement" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Markdown" class="control-label"></label>
                <textarea asp-for="Markdown" class="form-control" rows="20" style="font-family: 'Courier New', Courier, monospace;"></textarea>
                <span asp-validation-for="Markdown" class="text-danger"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Html" class="control-label"></label>
                <input asp-for="Html" class="form-control" type="hidden" />
                <div class="card text-dark" style="height: 376px; overflow-y: scroll;">
                    <div class="card-body" id="htmlOutput"></div>
                </div>
                <span asp-validation-for="Html" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row mb-2 align-items-end">
        <div class="col-6">
            <label asp-for="ShortDescription" class="control-label mb-0"></label>
        </div>
        <div class="col-6">Image</div>
    </div>
    <div class="form-row mb-3">
        <div class="col-6">
            <textarea asp-for="ShortDescription" class="form-control" rows="10"></textarea>
            <span asp-validation-for="ShortDescription" class="text-danger"></span>
        </div>
        <div class="col-2">
            <button class="btn btn-primary btn-block" type="button" data-toggle="modal" data-target="#imageSelectorModal">Select Image</button>
        </div>
        <div class="col-4">
            <input asp-for="ImageId" type="hidden" class="form-control" />
            <img id="imgOut" class="img-thumbnail" />
            <span asp-validation-for="ImageId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-check custom-checkbox">
        <input asp-for="ShowOnList" class="form-check-input" checked>
        <label asp-for="ShowOnList" class="form-check-label"></label>
        <span asp-validation-for="ShowOnList" class="text-danger"></span>
    </div>
    <div class="form-check custom-checkbox mb-3">
        <input asp-for="ShowFooter" class="form-check-input" checked>
        <label asp-for="ShowFooter" class="form-check-label"></label>
        <span asp-validation-for="ShowOnList" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success" />
    </div>
</form>

<div class="text-dark">
    @Html.Partial("~/Views/Image/_SelectUploadImagePartial.cshtml")
</div>

@section scripts {
    @Html.Partial("_ValidationScriptsPartial.cshtml")

    <script src="~/js/showdown.js"></script>
    <script src="~/js/debounce.js"></script>

    <script>
        var mdConverter = new showdown.Converter({
            extensions: ["xssfilter", "youtube"],
            omitExtraWLInCodeBlocks: true,
            headerLevelStart: 2,
            parseImgDimensions: true,
            simplifiedAutoLink: true,
            excludeTrailingPunctuationFromURLs: true,
            literalMidWordUnderscores: true,
            strikethrough: true,
            tables: true,
            ghCodeBlocks: true,
            tasklists: true,
            smoothLivePreview: true,
            smartIndentationFix: true,
            simpleLineBreaks: true,
            requireSpaceBeforeHeadingText: true,
            encodeEmails: false
        });

        var convertMarkdown = debounce(function () {
            var html = mdConverter.makeHtml($("#Markdown").val())
            $("#htmlOutput").html(html);
            $("#Html").val(html);
        }, 500);

        $(function () {
            $("#imgOut").css("max-height", $("#ShortDescription").css("height"));
            $("#htmlOutput").parent().css("height", $("#Markdown").css("height"));

            $("#Markdown").keyup(convertMarkdown);

            initSelectUploadModal("#ImageId", "#imgOut")
        });
    </script>
}