.LoginButton {
  font-size: 1.5rem;
  display: flex;
  align-items: center; }

.LoginButton svg {
  height: 1.5em;
  width: 1.5em;
  fill: #fff; }

.LoginButton span {
  margin-left: 0.75rem; }

.btn-facebook {
  color: #fff;
  background-color: #3B5998;
  border-color: #3B5998; }
  .btn-facebook:hover {
    color: #fff;
    background-color: #30497c;
    border-color: #2d4373; }
  .btn-facebook:focus, .btn-facebook.focus {
    box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5); }
  .btn-facebook.disabled, .btn-facebook:disabled {
    color: #fff;
    background-color: #3B5998;
    border-color: #3B5998; }
  .btn-facebook:not(:disabled):not(.disabled):active, .btn-facebook:not(:disabled):not(.disabled).active,
  .show > .btn-facebook.dropdown-toggle {
    color: #fff;
    background-color: #2d4373;
    border-color: #293e6a; }
    .btn-facebook:not(:disabled):not(.disabled):active:focus, .btn-facebook:not(:disabled):not(.disabled).active:focus,
    .show > .btn-facebook.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5); }

.btn-twitter {
  color: #fff;
  background-color: #1DA1F2;
  border-color: #1DA1F2; }
  .btn-twitter:hover {
    color: #fff;
    background-color: #0d8ddc;
    border-color: #0c85d0; }
  .btn-twitter:focus, .btn-twitter.focus {
    box-shadow: 0 0 0 0.2rem rgba(29, 161, 242, 0.5); }
  .btn-twitter.disabled, .btn-twitter:disabled {
    color: #fff;
    background-color: #1DA1F2;
    border-color: #1DA1F2; }
  .btn-twitter:not(:disabled):not(.disabled):active, .btn-twitter:not(:disabled):not(.disabled).active,
  .show > .btn-twitter.dropdown-toggle {
    color: #fff;
    background-color: #0c85d0;
    border-color: #0b7ec4; }
    .btn-twitter:not(:disabled):not(.disabled):active:focus, .btn-twitter:not(:disabled):not(.disabled).active:focus,
    .show > .btn-twitter.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(29, 161, 242, 0.5); }

.btn-google {
  color: #fff;
  background-color: #4285F4;
  border-color: #4285F4; }
  .btn-google:hover {
    color: #fff;
    background-color: #1e6ef2;
    border-color: #1266f1; }
  .btn-google:focus, .btn-google.focus {
    box-shadow: 0 0 0 0.2rem rgba(66, 133, 244, 0.5); }
  .btn-google.disabled, .btn-google:disabled {
    color: #fff;
    background-color: #4285F4;
    border-color: #4285F4; }
  .btn-google:not(:disabled):not(.disabled):active, .btn-google:not(:disabled):not(.disabled).active,
  .show > .btn-google.dropdown-toggle {
    color: #fff;
    background-color: #1266f1;
    border-color: #0e60e9; }
    .btn-google:not(:disabled):not(.disabled):active:focus, .btn-google:not(:disabled):not(.disabled).active:focus,
    .show > .btn-google.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(66, 133, 244, 0.5); }

.btn-microsoft {
  color: #fff;
  background-color: #666666;
  border-color: #666666; }
  .btn-microsoft:hover {
    color: #fff;
    background-color: #535353;
    border-color: #4d4d4d; }
  .btn-microsoft:focus, .btn-microsoft.focus {
    box-shadow: 0 0 0 0.2rem rgba(102, 102, 102, 0.5); }
  .btn-microsoft.disabled, .btn-microsoft:disabled {
    color: #fff;
    background-color: #666666;
    border-color: #666666; }
  .btn-microsoft:not(:disabled):not(.disabled):active, .btn-microsoft:not(:disabled):not(.disabled).active,
  .show > .btn-microsoft.dropdown-toggle {
    color: #fff;
    background-color: #4d4d4d;
    border-color: #464646; }
    .btn-microsoft:not(:disabled):not(.disabled):active:focus, .btn-microsoft:not(:disabled):not(.disabled).active:focus,
    .show > .btn-microsoft.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(102, 102, 102, 0.5); }

