@model List<showcase.Models.PortfolioEntry>

@{
    ViewData["Title"] = "Index";
}

@section head {
    <style>
        .media img {
            max-width: 20rem;
            max-height: 20rem;
            width: auto;
            height: 100%;
        }
    </style>
}

@foreach (PortfolioEntry entry in Model)
{
    <div class="media">
        @entry.Image.Display(new { @class = "mr-3" })
        <div class="media-body">
            <h3 class="mt-0">@entry.Title</h3>
            @entry.ShortDescription
        </div>
    </div>
}