@model showcase.Models.PortfolioEntry

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<div class="card text-dark">
    <div class="card-body">
        <div class="float-left">
            @Html.Raw(Model.Html)
        </div>
        <img asp-for="Model.Image" class="img-thumbnail float-right w-25" />
    </div>
</div>
