@model showcase.Models.BlogEntry

@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null)
{
    <partial name="_BlogShowPartial" model="Model" />
}
else
{
    <div class="alert alert-danger">
        <h1>No Blog Entry with a "home" tag</h1>
    </div>
}
