@{
    ViewData["Title"] = "Home Page";
}

@section head
{
    <style>
        /* Extra small devices (portrait phones, less than 576px) */
        @@media (max-width: 575.98px) {
            #profilePicture {
                clip-path: inset()
            }
        }

        /* Small devices (landscape phones, 576px and up) */
        @@media (min-width: 576px) and (max-width: 767.98px) {

        }

        /* Medium devices (tablets, 768px and up) */
        @@media (min-width: 768px) and (max-width: 991.98px) {

        }

        /* Large devices (desktops, 992px and up) */
        @@media (min-width: 992px) and (max-width: 1199.98px) {
        
        }

        /* Extra large devices (large desktops, 1200px and up) */
        @@media (min-width: 1200px) {

        }
    </style>
}

<div class="row">
    <div class="col-8">
        <div class="card text-dark">
            <div class="card-header">
                <h1>Anthony Stewart</h1>
            </div>
            <div class="card-body">
                <p>A really cool guy.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="http://loripsum.net/" target="_blank">Pugnant Stoici cum Peripateticis.</a> Videamus animi partes, quarum est conspectus illustrior; <b>Illud non continuo, ut aeque incontentae.</b> Habent enim et bene longam et satis litigiosam disputationem. <a href="http://loripsum.net/" target="_blank">Illi enim inter se dissentiunt.</a> Qualem igitur hominem natura inchoavit? </p>
                <p><a href="http://loripsum.net/" target="_blank">Nunc haec primum fortasse audientis servire debemus.</a> Sed ad illum redeo. <b>Sit enim idem caecus, debilis.</b> Tum Piso: Quoniam igitur aliquid omnes, quid Lucius noster? <b>Aliter enim explicari, quod quaeritur, non potest.</b> A quibus propter discendi cupiditatem videmus ultimas terras esse peragratas. <mark>Quid adiuvas?</mark> <b>Quid dubitas igitur mutare principia naturae?</b> </p>
                <p><mark>Duo Reges: constructio interrete.</mark> Itaque haec cum illis est dissensio, cum Peripateticis nulla sane. Facillimum id quidem est, inquam. Mihi quidem Homerus huius modi quiddam vidisse videatur in iis, quae de Sirenum cantibus finxerit. Erat enim Polemonis. </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <img id="profilePicture" class="img-fluid rounded w-100"src="~/images/profilePicture.jpg" />
    </div>
</div>
